    {% extends "base.html.twig" %}


        {% block metatitle %}
            {{ article.title }} | Les rois des articles
        {% endblock metatitle %}

        {% block main %}
            <section class="articles-container">
                {% if article %}
                <h3>{{ article.title }}</h3>
                <img src="{{ article.image }}" alt="{{ article.title }}">
                <p>{{ article.content }}</p>
                {% else %}
                <p>Article non trouvé.</p>
                {% endif %}
                    <p>Date de création : {{ article.createdAt | date('d/m/y h:i:s') }}</p>

            </section>

        {% endblock main %}
